.watch-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .watch {
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .watchesImg {
    width: 200px;
    height: 200px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #3f71cc;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }

  .pagination button.active {
    background-color: #6a6a6a;
    color: #fff;
  }